*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

.mini__navbar__container {
  width: 100vw;
  background: url("../../assets/mini/bg_top.png") repeat-x;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: auto;
  font-family: "Roboto";
  overflow: hidden;
}

.mini__navbar__container .mini__navbar__logo {
  margin-left: 16px;
}

.mini__navbar__container .mini__navbar__logo .logo__icon {
  width: 38px;
  height: 24px;
  border: none;
  background: url("../../assets/logo_top_r_v2.png") no-repeat;
  background-size: cover;
  margin-top: 6px;
}

.mini__navbar__container .mini__navbar__page-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-family: "Roboto";
}

.mini__navbar__container .mini__navbar__page-control .page-point {
  background: url("../../assets/page_point_default.png");
  width: 7px;
  height: 7px;
}

.mini__navbar__container .mini__navbar__page-control .dot {
  background: url("../../assets/page_point_white.png");
}

.mini__navbar__container .mini__navbar__equalizer {
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-family: "Roboto";
}

.mini__navbar__container .mini__navbar__equalizer .nav__btn {
  height: 16px;
  width: 16px;
  background-size: cover;
  border: none;
}

.mini__navbar__container .mini__navbar__equalizer .btn-fb {
  background: url("../../assets/mini/btn_facebook_n.png");
}

.mini__navbar__container .mini__navbar__equalizer .btn-fb:hover {
  background: url("../../assets/mini/btn_facebook_p.png");
}

.mini__navbar__container .mini__navbar__equalizer .btn-tw {
  background: url("../../assets//mini/btn_twitter_n.png");
}

.mini__navbar__container .mini__navbar__equalizer .btn-tw:hover {
  background: url("../../assets//mini/btn_twitter_p.png");
}

.mini__navbar__container .mini__navbar__equalizer .equalizer {
  width: 23px;
  height: 13px;
}
/*# sourceMappingURL=navbar.css.map */